In [1]:
import pandas as pd

In [2]:
# loading datasets
wormexp = pd.read_excel('WormExp_2_0_info_20170727_Unique_Studies.xlsx')
data = pd.read_excel('Extended_Data_Table.xlsx')

In [3]:
wormexp.head()

                                    References
0  http://www.ncbi.nlm.nih.gov/pubmed/11557892
1  http://www.ncbi.nlm.nih.gov/pubmed/16168746
2  http://www.ncbi.nlm.nih.gov/pubmed/16962739
3  http://www.ncbi.nlm.nih.gov/pubmed/16380712
4  http://www.ncbi.nlm.nih.gov/pubmed/11697852

In [4]:
data.head()

,Study,Pubmed,PMC
0,2007 Welker et al RNA,https://pubmed.ncbi.nlm.nih.gov/17526642/,NaN
1,2007 Zhang et al Mol Cell,https://pubmed.ncbi.nlm.nih.gov/18042455/,NaN
2,2008 Batista et al Mol Cell,https://pubmed.ncbi.nlm.nih.gov/18571452/,NaN
3,2008 Spike et al Development,https://pubmed.ncbi.nlm.nih.gov/18234720/,NaN
4,2008 Wang et al Curr Biol,https://pubmed.ncbi.nlm.nih.gov/18501605/,NaN

In [5]:
wormexp_ref = wormexp['References'].to_frame()
data_ref = data['Pubmed'].to_frame()

In [6]:
# extracting Pubmed IDs from URLs
wormexp_ref['pubmed_id'] = wormexp_ref['References'].str[-8:]
data_ref['pubmed_id'] = data_ref['Pubmed'].str[-9:-1]

In [7]:
wormexp_ref.head()

                                    References pubmed_id
0  http://www.ncbi.nlm.nih.gov/pubmed/11557892  11557892
1  http://www.ncbi.nlm.nih.gov/pubmed/16168746  16168746
2  http://www.ncbi.nlm.nih.gov/pubmed/16962739  16962739
3  http://www.ncbi.nlm.nih.gov/pubmed/16380712  16380712
4  http://www.ncbi.nlm.nih.gov/pubmed/11697852  11697852

In [8]:
data_ref.head()

                                      Pubmed pubmed_id
0  https://pubmed.ncbi.nlm.nih.gov/17526642/  17526642
1  https://pubmed.ncbi.nlm.nih.gov/18042455/  18042455
2  https://pubmed.ncbi.nlm.nih.gov/18571452/  18571452
3  https://pubmed.ncbi.nlm.nih.gov/18234720/  18234720
4  https://pubmed.ncbi.nlm.nih.gov/18501605/  18501605

In [9]:
# merging the two dataframes to see number of shared studies
common = wormexp_ref.merge(data_ref, left_on='pubmed_id', right_on='pubmed_id', how='inner')

In [10]:
print(f"nubmer of common datasets is {len(common)}")

nubmer of common datasets is 29